*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 115px);
  background: linear-gradient(
    to right,
    pink 0%,
    pink 20%,
    paleturquoise 80%,
    paleturquoise 100%
  );
}

#whatsNew{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: white;
}

.carasoul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carasoulLink{
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  border: 2px solid black;
}

.carasoulLink img{
  height: 320px;
  display: block;
  width: 100%;
}

.LinkOverText{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
}

.LinkOverText > *{
  transform: translateY(40px);
  transition: transform 0.25s;
}


.LinkOverText:hover{
  opacity: 1;
}

.LinkOverText:hover > *{
  transform: translateY(0px);
}